* {
    --TEXT-COLOR: #f1f6f9;
    --BACKGROUND-COLOR: #ffffff;
    --LEVEL-COLOR: #2b2e4a;
    --SUB-LEVEL-COLOR: #5e65a1;
    --SUB-LEVEL-COLOR-trans: #5e65a163;
    --LIGTH: #f1f6f9;
    --DARK: #131420;
    --PINK-EMPHASIS: #ff4646;
    --BLUE-EMPHASIS: #1abb9c;
}

body {
    margin: 0;
    padding: 0;
}


main {
    width: 100%;
    padding: 20px;
    /* to avoid width bigger that secrean */
    box-sizing: border-box;
}

section {
    width: 100%;
    min-height: 200px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 2px;
    border: 1px solid var(--SUB-LEVEL-COLOR);
    box-shadow: -1px 10px 30px -20px var(--DARK);
}

/*---------   HEADER OF SECTION   ---------*/

.section-header {
    display: flex;
    overflow: hidden;
    background-color: var(--SUB-LEVEL-COLOR-trans);
    /* to avoid width bigger that secrean */
    box-sizing: border-box;
}

.section-header>* {
    margin: 0;
    color: var(--DARK);
}

.section-header>h2 {
    width: 100%;
    margin: auto;
    text-align: center;
}

.section-header>button {
    cursor: pointer;
    margin-left: auto;
    margin-right: 0;
    border: none;
    background-color: var(--SUB-LEVEL-COLOR);
}


/* section header */

.section-main,
.section-footer {
    padding: 20px;
    width: cal(100% - 40px);
    border-radius: 5px;
    box-sizing: border-box;
    /* to avoid width bigger that secrean */
    box-sizing: border-box;
}

/* Analisis editable area */
div.text-editor {
    margin-top: 20px;
}
div.text-editor,
div.editor {
    border: 1px solid #607d8b !important;
    padding: 10px;
}

div.text-editor > h2 {
    text-align: center;
}

div.text-editor button, .section-footer button {
    border: none;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}

div.editor {
    opacity: 0.5;
    width: 100%;
    margin-top: 10px;
    box-sizing: border-box;
    padding: 30px;
    resize: vertical;
    text-overflow: ellipsis;
    overflow-y: scroll;
}

.removeClone {
    background-color: var(--PINK-EMPHASIS);
    color: var(--TEXT-COLOR);
}
div.editor:active, div.editor:focus{
    background-color: #ffffff;
    opacity: 1;
}
