.dark-Mode {
    --TEXT-COLOR: #f1f6f9;
    --BACKGROUND-COLOR: #131420;
    /* Nav, header, footer color */
    --LEVEL-COLOR: #5e65a1;
    /* OTROS */
    --LIGTH: #f1f6f9;
    --DARK: #131420;
    --EMPHASIS: #ff4646;
}

.light-Mode {
    font-weight: bolder;
    --TEXT-COLOR: #272343;
    --BACKGROUND-COLOR: #ffffff;
    /* Nav, header, footer color */
    --LEVEL-COLOR: #bae8e8;
    /* OTROS */
    --LIGTH: #ffffff;
    --DARK: #272343;
    --EMPHASIS: #1abb9c;
}

h2 {
    color: var(--TEXT-COLOR);
    text-align: center;
}


/* Desktop: */

@media only screen and (min-width: 768px) {
    .cards-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .card {
        width: 300px;
        margin: 10px;
        border: 2px solid transparent;
        box-shadow: 0 4px 8px 0 var(--DARK);
        background: var(--LIGTH);
        transition: transform .2s;
        /* Text definitions*/
        text-align: center;
        font-size: 16px;
        /* Display them side by side*/
        box-sizing: border-box;
        float: left;
    }
    .card:hover {
        transform: scale(1.005);
        border: 2px solid var(--EMPHASIS);
        box-shadow: 0 8px 16px 0 var(--DARK);
    }
    .card>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .container>a {
        text-decoration: none;
        display: inline;
        color: var(--EMPHASIS);
        font-size: x-large;
        letter-spacing: 10px;
    }
}


/* mobile phones */

@media only screen and (max-width: 768px) {
    .cards-container {
        width: 100%;
        display: block
    }
    .card {
        width: 100%;
        margin-bottom: 20px;
        margin-top: 10px;
        box-shadow: 0 4px 8px 0 var(--DARK);
        background: var(--LIGTH);
        /* Text definitions*/
        text-align: center;
        font-size: 16px;
    }
    .card>img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .container>a {
        text-decoration: none;
        display: inline;
        color: var(--EMPHASIS);
        font-size: x-large;
        letter-spacing: 3px;
    }
}