/* Aqui se defin el header de las paginas (que no son la principal)*/

.dark-Mode {
    --TEXT-COLOR: #f1f6f9;
    --BACKGROUND-COLOR: #131420;
    /* Nav, header, footer color */
    --LEVEL-COLOR: #5e65a1;
    /* OTROS */
    --LIGTH: #f1f6f9;
    --DARK: #131420;
    --EMPHASIS: #ff4646;
}

.light-Mode {
    font-weight: bolder;
    --TEXT-COLOR: #272343;
    --BACKGROUND-COLOR: #ffffff;
    /* Nav, header, footer color */
    --LEVEL-COLOR: #bae8e8;
    /* OTROS */
    --LIGTH: #ffffff;
    --DARK: #272343;
    --EMPHASIS: #1abb9c;
}


/* Desktop: */

@media only screen and (min-width: 768px) {
    header {
        padding: 10px;
        /* Fonts- definitions*/
        text-align: center;
        color: var(--TEXT-COLOR);
        font-family: 'Patua One', cursive;
        background-color: var(--LEVEL-COLOR);
    }
}


/* mobile phones */

@media only screen and (max-width: 768px) {
    header {
        padding: 10px;
        display: flex;
        /* Fonts- definitions*/
        text-align: center;
        color: var(--TEXT-COLOR);
        font-family: 'Patua One', cursive;
        background-color: var(--LEVEL-COLOR);
    }
    header>* {
        display: inline-block;
        margin: auto;
    }
}