.dark-Mode {
    --TEXT-COLOR: #f1f6f9;
    --BACKGROUND-COLOR: #131420;
    /* Nav, header, footer color */
    --LEVEL-COLOR: #5e65a1;
    /* OTROS */
    --LIGTH: #f1f6f9;
    --DARK: #131420;
    --EMPHASIS: #ff4646;
}

.light-Mode {
    font-weight: bolder;
    --TEXT-COLOR: #272343;
    --BACKGROUND-COLOR: #ffffff;
    /* Nav, header, footer color */
    --LEVEL-COLOR: #bae8e8;
    /* OTROS */
    --LIGTH: #ffffff;
    --DARK: #272343;
    --EMPHASIS: #1abb9c;
}

body {
    font-family: 'Karma', serif;
    background-color: var(--BACKGROUND-COLOR);
    margin: 0;
    padding: 0;
}

::selection {
    background-color: var(--EMPHASIS);
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: var(--LIGTH);
}

::-webkit-scrollbar-thumb {
    background: var(--EMPHASIS);
}


/* Desktop: */

@media only screen and (min-width: 768px) {
    /* -------------- CONFIGURACIÓN DEL NAV -------------- */
    nav {
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        display: block;
        overflow: hidden;
        text-align: center;
        background-color: var(--LEVEL-COLOR);
        box-shadow: 0 4px 4px 0 var(--DARK);
        transition: transform .2s;
    }
    nav:hover {
        opacity: 1;
    }
    nav>a {
        /* Nav elements*/
        padding: 30px;
        display: inline;
        letter-spacing: 3px;
        /* Link style = no */
        color: var(--TEXT-COLOR);
        text-decoration: none;
    }
    nav>a:hover {
        opacity: 1;
        cursor: pointer;
        background-color: var(--EMPHASIS);
    }
    /* Fixed the menu */
    .sticky {
        top: 0;
        left: 0;
        opacity: 0.8;
        position: fixed;
    }
    .sticky+main {
        padding-top: 60px;
    }
    /* Main */
    main {
        margin: auto;
        padding: 30px;
        width: 80%;
        margin-top: 30px;
        min-height: 40vh;
    }
    /*-------------- FOOTER --------------*/
    footer {
        color: var(--TEXT-COLOR);
        background-color: var(--LEVEL-COLOR);
        text-align: center;
        margin-top: 30px;
        padding: 30px;
    }
    footer>div {
        display: flex;
    }
    footer>div>a {
        margin: auto;
        color: var(--TEXT-COLOR);
        font-size: xx-large;
        text-decoration: none;
        transition: transform .2s;
    }
    footer>div>a:hover {
        transform: scale(1.1);
        color: var(--EMPHASIS);
    }
}


/* mobile phones */

@media only screen and (max-width: 768px) {
    /* Open nav buttom */
    #openNav {
        transition: 0.4s;
    }
    #openNav>* {
        width: 35px;
        height: 5px;
        border-radius: 30px;
        background-color: var(--TEXT-COLOR);
        margin: 6px 0;
    }
    .spin {
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    /* -------------- CONFIGURACIÓN DEL NAV -------------- */
    nav {
        display: none;
        width: 100%;
        border: 0;
        overflow: hidden;
        text-align: center;
        background-color: var(--LEVEL-COLOR);
    }
    nav>a {
        /* Nav elements*/
        padding-top: 10px;
        padding-bottom: 10px;
        display: block;
        letter-spacing: 3px;
        /* Link style = no */
        color: var(--TEXT-COLOR);
        text-decoration: none;
    }
    nav>a:active {
        background-color: var(--EMPHASIS);
    }
    /* main */
    main {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        width: 80%;
    }
    /*-------------- FOOTER --------------*/
    footer {
        color: var(--TEXT-COLOR);
        background-color: var(--LEVEL-COLOR);
        text-align: center;
        margin-top: 30px;
        padding: 30px;
    }
    footer>div {
        display: block;
    }
    footer>div>a {
        margin: auto;
        padding: 10px;
        display: block;
        color: var(--TEXT-COLOR);
        font-size: xx-large;
        text-decoration: none;
    }
    footer>div>a:active {
        color: var(--EMPHASIS);
    }
}